<link rel="stylesheet" href="/css/allCourses.css" />
<div class="my-5 text-center container">
  <div class="row mb-2">
    <div class="col text-center">
      <h4>Latest Courses</h4>
    </div>
  </div>
  <div class="row d-flex align-items-center">
    <div class="col-1 d-flex align-items-center justify-content-center">
      <a href="#carouselExampleIndicators" role="button" data-slide="prev">
        <div class="carousel-nav-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 129 129"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <path
              d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z"
            />
          </svg>
        </div>
      </a>
    </div>
    <div class="col-10">
      <!--Start carousel-->
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <% latestCourses.forEach((latest,index)=>{ %>
          <% if(index==0){ %> 
            <div class="carousel-item active">
            <div class="row">
              <div
                class="col-12 col-md d-flex align-items-center justify-content-center"
              >
                <div class="card text-black border-primary">
                  <div class="card-header">
                    Latest Course in the field of <%= latest.subjectName.toUpperCase() %>
                  </div>
                  <div class="card-body">
                    <h4 class="card-title"><%= latest.courseName.toUpperCase() %></h4>
                    <p class="card-text">Teacher : <%= latest.teacherName %></p>
                    <p class="card-text" style="font-style: italic;"><%= latest.description %></p>
                    <p class="card-text">Total Topics : <%= latest.totalTopics %></p>
                    <a href=<%=`/course/${latest._id}`%> class="card-link" style="font-weight:bold;">Go to Course</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% }else{ %>
          <div class="carousel-item">
            <div class="row">
              <div
                class="col-12 col-md d-flex align-items-center justify-content-center"
              >
                <div class="card text-black border-primary">
                  <div class="card-header">
                    Latest Course in the field of <%= latest.subjectName.toUpperCase() %>
                  </div>
                  <div class="card-body">
                    <h4 class="card-title"><%= latest.courseName.toUpperCase() %></h4>
                    <p class="card-text">Teacher : <%= latest.teacherName %></p>
                    <p class="card-text" style="font-style: italic;"><%= latest.description %></p>
                    <p class="card-text">Total Topics : <%= latest.totalTopics %></p>
                    <a href=<%=`/course/${latest._id}`%> class="card-link" style="font-weight:bold;">Go to Course</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% }; %>
        <% }); %>
        </div>
      </div>
      <!--End carousel-->
    </div>
    <div class="col-1 d-flex align-items-center justify-content-center">
      <a href="#carouselExampleIndicators" data-slide="next">
        <div class="carousel-nav-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 129 129"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <path
              d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z"
            />
          </svg>
        </div>
      </a>
    </div>
  </div>
</div>
