<link rel="stylesheet" href="/css/latestCourses.css" />
<div class="row mb-2">
  <div class="col text-center">
    <h4>Courses created by you</h4>
  </div>
</div>
<div class="row">
  <% teacherCourses.forEach((teacherCourse)=>{ %>
  <div class="col-sm-12 col-md-4 col-lg-3">
    <div class="card text-white bg-info">
      <div class="card-header">
        <%= teacherCourse.subjectName.toUpperCase() %>
      </div>
      <div class="card-body">
        <h4 class="card-title"><%= teacherCourse.courseName.toUpperCase() %></h4>
        <p class="card-text" style="font-style: italic;"><%= teacherCourse.description %></p>
        <p class="card-text">Total Topics : <%= teacherCourse.totalTopics %></p>
        <a href=<%=`/course/${teacherCourse._id}`%>  class="card-link" style="color:#ffd300; font-weight:bold;">Go to Course </a>
      </div>
    </div>
  </div>
  <% }); %>
</div>
